@font-face {
    font-family: 'aaux proregular';
    src: asset-url('/fonts/aaux_pro_regular-webfont.eot');
    src: asset-url('/fonts/aaux_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('/fonts/aaux_pro_regular-webfont.woff') format('woff'),
         asset-url('/fonts/aaux_pro_regular-webfont.ttf') format('truetype'),
         asset-url('/fonts/aaux_pro_regular-webfont.svg#aaux_proregularregular') format('svg');
    font-weight: light;
    font-style: normal;

}

@font-face {
    font-family: 'aaux probold';
    src: asset-url('/fonts/aaux_pro_bd-webfont.eot');
    src: asset-url('/fonts/aaux_pro_bd-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('/fonts/aaux_pro_bd-webfont.woff') format('woff'),
         asset-url('/fonts/aaux_pro_bd-webfont.ttf') format('truetype'),
         asset-url('/fonts/aaux_pro_bd-webfont.svg#aaux_proboldregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'aaux probold';
    src: asset-url('/fonts/aaux_pro_blk-webfont.eot');
    src: asset-url('/fonts/aaux_pro_blk-webfont.eot?#iefix') format('embedded-opentype'),
         asset-url('/fonts/aaux_pro_blk-webfont.woff') format('woff'),
         asset-url('/fonts/aaux_pro_blk-webfont.ttf') format('truetype'),
         asset-url('/fonts/aaux_pro_blk-webfont.svg#aaux_problackregular') format('svg');
    font-weight: bold;
    font-style: normal;

}

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,900italic,900,700italic,400italic,500,700,500italic);
@import url(http://fonts.googleapis.com/css?family=Lobster);

body {
	background-color: #3a3a36;
	color: #999;
	font-family: aaux proregular;
}

h1, h2, h3 {
	color: #fff;
	font-weight: 200;
}

