<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Darkly
    </super-navbar-title>
  </super-navbar>
 
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
var apikey = "xzmgkprscy5h8j6vbfvzk8zh";
var baseUrl = "http://data.tmsapi.com/v1";
var showtimesUrl = baseUrl + '/movies/showings';
var zipCode = "11221";
var d = new Date();
var today = d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate();

$(document).ready(function() {
	$.ajax({
    url: showtimesUrl,
		data: {startDate: today,
					 zip: zipCode,
					 jsonp: "dataHandler",
					 api_key: apikey
					},
    dataType: "jsonp",
	});
});

function dataHandler(data) {
	$.each(data, function(index, movie) {
		$(document.body).append("<h1>"+movie.title+"</h1>");
		var lastTheatre
		var mID = movie.rootId
	  $.each(movie.showtimes, function(index, showtime) {
		  var date = new Date(showtime.dateTime);
		  var time = date.getHours() + ":" + ('0'+date.getMinutes()).slice(-2);
	  	if (lastTheatre == showtime.theatre.id) {
		    $("p#"+mID+lastTheatre).append(" "+time);
	  	} else {
	  		lastTheatre = showtime.theatre.id
		    $(document.body).append("<h2>"+showtime.theatre.name+"</h2><p id='"+mID+lastTheatre+"'>"+time+"</p>");
	  	}
	  });
	});
}
</script>
