<div class="padding">

  <super-navbar>
    <super-navbar-title>
      Darkly
    </super-navbar-title>
  </super-navbar>

	<div id="messaging">  
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script type="text/javascript">
// Static Variables
var apikey = "xzmgkprscy5h8j6vbfvzk8zh";
var baseUrl = "http://data.tmsapi.com/v1";
var showtimesUrl = baseUrl + '/movies/showings';
var trailerUrl = baseUrl + '/screenplayTrailers';
var d = new Date();
var today = d.getFullYear() + '-' + (d.getMonth()+1) + '-' + d.getDate();
var mIDs = []


// On Ready
$(document).ready(function() {
	navigator.geolocation.getCurrentPosition(geoSuccess,geoError);
});


// Functions
function geoSuccess(position) {
	geoLat = position.coords.latitude;
	geoLng = position.coords.longitude;
	getData(geoLat, geoLng);
}

function geoError(error) {
  // alert('code: '    + error.code    + '\n' + 'message: ' + error.message + '\n');

  // For testing on desktop
  $("#messaging").append("<p>Geo-location failed. Showing results for Cindy's apartment!</p>");
	geoLat = 40.692;
	geoLng = -73.925;
	getData(geoLat, geoLng);
}

function getData(latitude, longitude) {
	$.ajax({
    url: showtimesUrl,
		data: {startDate: today,
					 lat: latitude,
					 lng: longitude,
					 jsonp: "dataHandler",
					 api_key: apikey
					},
    dataType: "jsonp",
	});
}

function dataHandler(data) {
	$.each(data, function(index, movie) {
		var mID = movie.rootId
		mIDs += mID+","

		// Edit movie title display here
		$(document.body).append("<h1 id='"+mID+"''>"+movie.title+"</h1>");
		var lastTheatre
	  $.each(movie.showtimes, function(index, showtime) {
		  var date = new Date(showtime.dateTime);
		  var time = date.getHours() + ":" + ('0'+date.getMinutes()).slice(-2);
	  	if (lastTheatre == showtime.theatre.id) {
	  		// This line appends times to a theatre that's already listed
		    $("p#"+mID+lastTheatre).append(" "+time);
	  	} else {
	  		lastTheatre = showtime.theatre.id
	  		// This line adds a new theatre and the first time under it
		    $(document.body).append("<h2>"+showtime.theatre.name+"</h2><p id='"+mID+lastTheatre+"'>"+time+"</p>");
	  	}
	  });
	});
	getTrailers(mIDs);
}

function getTrailers() {
	mIDs = mIDs.replace(/,+$/, "");

	$.ajax({
    url: trailerUrl,
		data: {rootids: mIDs,
					 trailersonly: 1,
					 player_url: 1,
					 api_key: apikey,
					},
		success: trailerHandler,
	});
}

function trailerHandler(data) {
	console.dir(data.response.trailers)
	$.each(data.response.trailers, function(index, trailer) {
		var tmID = trailer.RootId
		var embedLink = trailer.Url
		console.dir(embedLink)
		$("h1#"+tmID).after(embedLink);
	});
}
</script>